.hobbies {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 35px;
}

.hobbies-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 24px;
    margin-bottom: 66px;
}

.hobbies-subtitle {
  margin-top: 24px;
}

.hobby {
  display: flex;
  flex-direction: column;
  gap: 53px;
  justify-content: center;
  width: 172px;
  height: 168px;
  border-radius: 8px;
  padding-left: 24px;
}

.gaming {
  background: rgb(223, 155, 224, 0.4);
}

.fashion {
background: rgb(204, 255, 204, 0.4);
}

.music {
background: rgb(255, 194, 153, 0.4);
}

.reading {
background: rgb(37, 117, 209, 0.2);
}

.hobby-title {
  width: max-content;
  color: #1d2939;
  font-size: 23.04px;
  font-weight: 600;
  letter-spacing: 0.115px;
}

.hobby-button {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #b3b3b3;
  background: transparent;
  font-size: 16px;
  letter-spacing: 0.08px;
  cursor: pointer;
}
